.layout{
    margin: 40px 10%;
 }
 .search{
     float: right;
 }
 
 .header-img {
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .wallet-btn {
    left: 235px;
    bottom: 100px;
 }

 .user-id {
   position: relative;
   left: 200px;
   bottom: 100px;
   font-weight: bolder;
 }