<span class="material-icons" (click)="close()" style="float: right;">
    <mat-icon>highlight_off</mat-icon>
  </span>
  <div style="margin: 20px;">
      <div style="font-size: 1.5em; text-align: center;  margin-bottom: 15px;">Wallet Balance</div>
      <mat-card>
        <mat-card-content>Organization : <label>{{userWalletDetails.OrgName}}</label></mat-card-content>
        <mat-card-content>Wallet Balance : <label>{{userWalletDetails.WalletBalance}}</label> </mat-card-content>
        <mat-card-content>Bond Type : <label>Green</label></mat-card-content>
      </mat-card>
  </div>